:root {
  --card-ratio: 253 / 418;  /* Calcul du ratio de la carte */
}

.card {
  width: 418px; /* Largeur fixe */
  height: 253px; /* Hauteur fixe */
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 3px 5px 2px #64b7ff21;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
 
  display: flex;  /* Utilisez flexbox pour la disposition horizontale */
  flex-direction: row;  /* Disposez le contenu horizontalement */

  &:hover {
    box-shadow: 0 10px 20px 2px #000000;
    background-color: rgba(0, 100, 255, 0.09);
    
    .card-content {
      color: #fff;
    }
    img {
      transform: perspective(1000px)   scale3d(1, 1, 1.1);
      transition: transform 0.5s;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    }
  }
}

.card-content {
  padding: 1rem;
  color: black;
  font-family: "Space Grotesk", sans-serif;
  flex: 1;  /* Permet à .card-content de prendre la moitié de l'espace disponible */
  
  h2 {
    margin: 0;
    font-size: 20px;
  }

  p {
    margin-top: 10px;
    font-size: 15px;
  }
  .details_card {
    margin-top: 1rem;
  }
}

.card-picture {
  flex: 1;  /* Permet à .card-picture de prendre la moitié de l'espace disponible */
  display: flex;  /* Utilisez flexbox pour centrer l'image */
  justify-content: center;
  align-items: center;
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    
    border-radius: 10px;
    box-shadow: 0 10px 20px 2px #00000029;
  }
}
/* Ajustement de la taille des cartes pour les écrans de taille moyenne */
@media (min-width: 650px) and (max-width: 999px) {
    .cards .card {
        width: calc(50vw - 1.05rem); /* 50% de la largeur de la fenêtre d'affichage */
        height: calc((50vw - 1.05rem) * (253 / 418)); /* Hauteur basée sur le ratio */
    }
}

/* Ajustement de la taille des cartes pour les grands écrans */
@media (min-width: 1000px) {
    .cards .card {
        width: calc(33.3vw - 1.4rem); /* 33.3% de la largeur de la fenêtre d'affichage */
        height: calc((33.3vw - 1.4rem) * (253 / 418)); /* Hauteur basée sur le ratio */
    }
}