// Définition des variables
$font-nav: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
$font-content: "Space Grotesk", sans-serif;
$green: #64ffda;
$nav-height: 100px;
$slate: #8892b0;
$blue: #12da9a;

// Réinitialisation
*,
::before,
::after {
  box-sizing: inherit;
}








