// Définition des variables
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
$font-nav: 'Roboto', sans-serif ;
$font-content: "Space Grotesk", sans-serif;
$green: #64ffda;
$nav-height: 100px;
$slate: #8892b0;
$blue: #12da9a;
